%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_travis');
  element.className = 'current';
%h1
  Current Iteration:
  =@iteration.title
%h2
  Total Stories:
  =@iteration.stories.count
%h3
  Open points:
  =@iteration.open_points
%h3
  Completed points:
  =@iteration.completed_points
%h3
  Total points:
  =@iteration.total_points
    

    
#chart
  = ziya_chart chart_iteration_path(@iteration), :size=>"800x400"
=link_to "< Prev", iteration_path(@prev_iteration)
=link_to "Next >", iteration_path(@next_iteration)
