%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_travis');
  element.className = 'current';

#iterInfo
  .overview
    %table
      %tr
        %th{:colspan=>2}
          =link_to "Current Iteration: #{@iteration.title}", iteration_path(Iteration.current)
      %tr
        %td
          Current Velocity:
        %td
          =@iteration.velocity
      %tr
        %td
          Last velocity:
        %td
          =@iteration.previous.velocity
      %tr
        %td
          Total Stories:
        %td
          =@iteration.stories.count
      %tr
        %td
          Open Iteration points:
        %td
          =@iteration.open_points
      %tr
        %td
          Completed points:
        %td
          =@iteration.completed_points
      %tr
        %td
          Total points:
        %td
          =@iteration.total_points
      %tr
        %td#prediction
          Predicted End Date:
        %td
          =@prediction
    =prev_next_links(@iteration)
  #chart
    = ziya_chart chart_iteration_path(@iteration), :size=>"800x400", :swf_path=>root_path+'charts'
