- form_tag session_path , :id=>'columnarForm' do
  %fieldset
    %legend
      Who are you?
    %ol.form
      %li
        =label_tag 'login'
        =text_field_tag "login"
      %li
        =label_tag 'password'
        =password_field_tag 'password', nil
      %li
        =label_tag 'remember_me'
        =check_box_tag 'remember_me', '1', @remember_me
  =submit_tag "Login"
