.DS_Store 
db/*.db
db/schema.rb
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/**/*
doc/api
doc/app
config/database.yml
config/environment.yml
config/javascript_test_autotest.yml
config/deploy.rb
doc/coverage
doc/guides
vendor/plugins/acts_as_solr/solr/solr/data/**/*
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/tmp/*
tmp/restart.txt
debug.log
solr/*