log/*.log
tmp/**/*
doc/api
doc/app
db/*.sqlite3
config/database.yml
config/environment.yml
config/javascript_test_autotest.yml
db/schema.rb
db/*.sqlite3-journal
doc/coverage
doc/guides
*.war
*.db
vendor/plugins/acts_as_solr/solr/solr/data/**/*
vendor/plugins/acts_as_solr/solr/logs/*
vendor/plugins/acts_as_solr/solr/tmp/*
*.DS_Store