%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_task');
  element.className = 'current';
=will_paginate @tasks
=link_to("Create Task", new_task_path)
%table#tasks
  %th Title
  %th.centered State
  %th Stories
  %th &nbsp;
  =render :partial=>"task",:collection=>@tasks
