<script type="text/javascript">
    var element = document.getElementById('menu_task');
    element.className = 'current';
</script>
<table id='tasks'>
  <%=render :partial=>"task",:collection=>@tasks%>
</table>
