%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_task');
  element.className = 'current';
%h1
  =h @task.title
%p
  =h @task.description
%p
  %h2 State
  =h @task.state

%p
  Assigned To 
  =markdown(h @task.login)

#stateform
  -form_for @task  do |f|
    =f.label :state
    =f.select :state, @task.available_events
    =submit_tag "save"

  
%table#stories
  %caption Stories
  %th Title
  %th.centered Swag
  %th.centered State
  %th.centered Area
  %th &nbsp;
  =render :partial=>"stories/story", :collection=>@task.stories
%p
  =link_to("Show All", tasks_path)
  |
  =link_to("Edit", edit_task_path(@task))
  |
  =link_to("Delete", {:id=>@task.id}, :confirm=>"Are you sure?", :method=>"delete")
