form legend {
	font-size: 1.5em;
	margin: 5px 0px 5px 0px;
}
form ol li {
	clear: both;
	width: 100%;
	overflow: auto;
	padding: 3px;
}
form ol li label {
	float: left;
	display: block;
	width: 20%;
	font-weight: bold;
}
form .fieldWithErrors input, form .fieldWithErrors textarea, form .fieldWithErrors select {
	background: pink;
}

form ol li input, form ol li textarea, form ol li select {
	float: left;
}
