body {
	padding: 10px;
	background: url(../images/background.png) repeat;
}
body #wrap {
	background: #FFF;
	border: 2px solid #bbbbbb;
}
h3 {
  font-weight: bold;
  font-style: italic;
  color: #0092d6;
}
#header {
	background: url(../images/travis-logo.gif) left center no-repeat;
	height: 60px; 
	width: 100%;
}
#header h1 {
	position: relative;
	margin-left: -1000px;
}

tr.current_iteration {
background: #c0c0ff;
border: 2px solid #00f;
}
#storydesc ul {
  list-style-type: circle;
}
span.afterv {
  color: orange;
}
span.beforev {
  color: green;
}
span.attr {
  color: blue;
}
#storydesc ol {
  list-style-type: decimal;
}
#storydesc ol  li {
display: list-item;
         list-style-position: inside;
         margin-left: 4em;
}
#rightchart {
float: right;
}
#chart {
float: right;
}
#iterInfo {
float: left;
}

#storyerror {
background:
}

#content{
margin:10px;
}


#footer {
  display: block;
  clear: both;
  margin: 0;
  text-align: center;
  height: 20px;
  background: url(../images/footer-bg.jpg) repeat-x;
  font-family: "Lucida Grande", Verdana, sans-serif;
  color: #eee;
}
#footer a {
	text-decoration: none;
	color: #eee;
}
#footer a:hover {
	text-decoration: underline;
}
th.centered {
  text-align: center;
}
th.right {
  text-align: right;
}

table {
width: 100%;
       margin-top: 10px;
       text-align: left;
       border-top: 1px solid #ddd ;
       border-left: 1px solid  #ddd;
}

td.rctl {
  text-align: right;
  border-right: 1px solid #ddd ;
  border-bottom: 1px solid  #ddd;
}

td.centered {
  text-align: center;
}
td.right {
  text-align: right;
}

th {
background: #ddd;
}

td,th {
  border-right: 1px solid #ddd ;
  border-bottom: 1px solid  #ddd;
  padding: 5px;
}

tr.even_task td {
background: #eee;
}
tr.even_story {
background: #eee;
}
tr.even_iteration {
background: #eee;
}
a.expando {
  font-weight: bold;
  text-decoration: none;
color:green;
}
a:hover.expando {
background:yellow;
  }
a:visited.expando {
color:green;
  }
caption {
  caption-side: top;
  font-weight: bold;
  font-size: 2em;
margin: 10px;
}
.opform fieldset {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #E6E6E6 none repeat scroll 0 0;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#modal_overlay {  
  background-color:#000000;
}  
div.formError  {
  font-color: green;
  font-size: .8em;
}

.drop_release {
  float: left;
  background: #80f080;
  padding: 3em;
  border: 1px solid #808080;
  margin-top: 3em;
  width: 99%;
}



.drag_iteration {
  text-align: center;
  position: relative;
  padding: 1em;
  clear:none;
  width: 20em;
  background: #8080ff;
  border: 2px solid #808080;
  margin: 10px;
  float: left;
  height: 2em;
  z-index: 100;
}
.title {
  font-weight: bold;
  font-size: 1.2em;
}
.margin_top_10 {
	margin-top: 10px;
}
#iterInfo {
	width: 100%;
}
#iterInfo .overview {
	float: left;
	width: 300px;
	margin-top: 15px;
}
#iterInfo #chart {
	float: left ;
	width: 68%;
}


