%tr
  %td
    =audit_record.login
  %td
    =audit_record.updated_at.to_s(:long)
  %td
    %ul
      -audit_record.diff_to_hash.each do |k,v| 
        %li
          ="<span class=\"attr\">%s</span> was <span class=\"beforev\">'%s'</span> and became <span class=\"afterv\">'%s'</span>"%[k, v.first,v.last]

