<tr>
  <td><%=link_to(h(story.title), story_path(story))%></td>
  <td><%=story.swag%></td>
  <td><%=link_to("Show", story_path(story))%></td>
  <td><%=link_to("Edit", edit_story_path(story))%></td>
</tr>
