%tr[story, cycle('odd', 'even')]
  %td
    =link_to(h(story.title), story_path(story))
  %td
    =story.swag
  %td
    =story.state
  %td.rctl
    =link_to("Show", story_path(story))
    =link_to("Edit", edit_story_path(story))
