%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
=error_messages_for "story"
- form_for @story, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Story Form
    %label.first
      Title
      =f.text_field :title
    %label 
      Description
      =f.text_area :description
    %label
      Area
      =f.text_field :nodule
    %label
      Swag
      =f.text_field :swag, :size=>2
    %label
      Iteration
      =f.select :iteration_id, Iteration.find(:all).collect{|i| [i.title, i.id]}, {:include_blank=>true}

    =submit_tag "Save", {:class=> "submit_button"}
    =button_to_function "Cancel", "location.href='#{stories_path}'", {:class=>'submit_button'}

