=error_messages_for "story"
- form_for @story, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Story Form
    %label.first
      Title
      =f.text_field :title
    %label 
      Description
      =f.text_area :description
    %label
      Swag
      =f.text_field :swag

    =submit_tag "Save", {:class=> "submit_button"}
    =button_to_function "Cancel", "location.href='#{stories_path}'", {:class=>'submit_button'}

