%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  Stories
  -if @iteration
    for 
    = h @iteration.title
=will_paginate(@stories)
=link_to "Create Story" , new_story_path
|
=link_to "Advanced Story Search" , search_stories_path

-if params[:q]
  %h2{:class => "margin_top_10"}
    ="Search Results for \"#{params[:q]}\""
%table#stories
  =render :partial=>'story_header'
  =render_search_results('story', @stories)

=render :partial=>'shared/stories_search'