%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%table#stories
  =render :partial=>"story",:collection=>@stories
=link_to "Create Story" , new_story_path
#sum
  Total Swag:  
  = @stories.inject(0){|x,y| x+(y.swag||0)}
