%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  Stories
  -if @iteration
    for 
    = h @iteration.title
=will_paginate(@stories)
=link_to "Create Story" , new_story_path
=link_to "Search Stories" , search_stories_path

%table#stories
  =render :partial=>'story_header'
  =render :partial=>"story",:collection=>@stories
