%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
=will_paginate(@stories)
%table#stories
  =render :partial=>"story",:collection=>@stories
=link_to "Create Story" , new_story_path
