%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  Stories
=will_paginate(@stories)
=link_to "Create Story" , new_story_path
=link_to "Search Stories" , search_stories_path

%table#stories
  %th 
    Id
  %th 
    Title
  %th.centered 
    Swag
  %th.centered 
    State
  %th.centered 
    Module
  %th 
    &nbsp;
  =render :partial=>"story",:collection=>@stories
