%h1
  Search

%p
  Use sql where clauses to search for stories (but skip the 'where' part):
  %pre
    state = 'new' and name like '%some junk%' 
  This will be passed directly to a :conditions clause
  on Story.find(:all) (so be careful)

%p
  Available parameters: 
  %pre
    =Story.columns.map(&:name).join(', ')
%ul#savedSearches
  = render :partial=>'shared/saved_search', :collection=>@saved_searches
  


-form_remote_tag :url=>do_search_stories_path, :html=>{:id=>'columnarForm'}  do
  %label Search Expression
  =text_field_tag 'expr', 'state=\'new\''
  %label{:style=>'display:inline'} Tag search?
  =check_box_tag "tagsearch" , 1, false, :style=>'display:inline'
  =submit_tag 'Search'
%br/

#summary

%table#results
#saveform
#masstagform
