%h1
  Search

%p
  Use sql where clauses to search for stories (but skip the 'where' part):
  %pre
    state = 'new' and name like '%some junk%' 
  This will be passed directly to a :conditions clause
  on Task.find(:all) (so be careful)

%p
  Available parameters: 
  %pre
    =Story.columns.map(&:name).join(', ')
#savedSearches
  %ul
    = render :partial=>'shared/saved_search', :collection=>@saved_searches
  


-form_remote_tag :url=>do_search_stories_path, :html=>{:id=>'columnarForm', :method=>'post'}  do
  %label 
    Search Expression
  =text_field_tag 'expr', 'state=\'new\''
  =submit_tag 'Search'

%table#results
