%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  =h(@story.title)
%p
  =h @story.description
%p
  =h @story.swag
%p
  =h @story.state
%table#tasks
  =render :partial=>"tasks/task", :collection=>@story.tasks
%p
  =link_to("Show All", stories_path)
  |
  =link_to("Edit", edit_story_path(@story))
  |
  =link_to("Delete", { :id => @story.id }, :confirm => "Are you sure?", :method => :delete)
