%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  Story: 
  =h(@story.title)
  ="(%s)"%h(@story.mnemonic)
%h2
  Tags:
  =h(@story.tags.join(', '))
%h2
  Swag: 
  -if @story.swag
    =h @story.swag
  -else
    Unswagged.
%h2
  State:
  =h @story.state
#storydesc
  =auto_link(markdown(@story.description))
%div
  %h2
    Assigned Iteration:
    =link_to("#{h @story.iteration.title}", iteration_path(@story.iteration)) if @story.iteration
%p
  Created
  =@story.created_at.to_s(:short)
  %br/
  Modified
  =@story.updated_at.to_s(:short)


-if  ((@story.available_events-[:task_changed]).size > 0)
  #stateform
    -form_for @story  do |f|
      =f.label :state
      =f.select :state, @story.available_events-[:task_changed]
      =submit_tag "save"
=link_to "Add New Task", "#taskform", :id=>'tasklink'
|
#taskform
  =render :partial=>'stories/ajax_task',:locals=>{:task=>Task.new(:title=>'New Task', :story_ids=>[@story.id])} 
=link_to("Show All", stories_path)
|
=link_to("Edit", edit_story_path(@story))
|
=link_to("Delete", { :id => @story.id }, :confirm => "Are you sure?", :method => :delete)
|
=link_to_function "Show History", nil, :update do |page|
  -page.replace_html "history", :partial=>"stories/audit_record", :collection=>@story.audit_records
  -page.insert_html :top,'history', '<tr><th>Login</th><th>Updated At</th><th>Diff</th></tr>'
  -page.visual_effect :toggle_appear, 'history'
  -page.visual_effect :highlight, 'history'
%table#history{:style=>'display:none'}

%table#tasks
  %caption Tasks
  %th Title
  %th State
  %th Assigned To
  %th Other Related Stories
  %th &nbsp;
  #taskrows
    =render :partial=>"story_task", :collection=>@story.tasks

  
%script
  new Control.Modal('tasklink', { opacity:0.6, fade:true, width:600, height:450});
