%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_story');
  element.className = 'current';
%h1
  Story: 
  =h(@story.title)
%h2
  Swag: 
  -if @story.swag
    =h @story.swag
  -else
    Unswagged.
%h2
  State:
  =h @story.state
%p
  =h @story.description 

-if  ((@story.available_events-[:task_changed]).size > 0)
  #stateform
    -form_for @story  do |f|
      =f.label :state
      =f.select :state, @story.available_events-[:task_changed]
      =submit_tag "save"
=link_to "Add New Task", "#taskform", :id=>'tasklink'
#taskform
  =render :partial=>'stories/ajax_task',:locals=>{:task=>Task.new(:title=>'New Task', :story_ids=>[@story.id])}

%table#tasks
  %caption Tasks
  %th Title
  %th State
  %th Assigned To
  %th Other Related Stories
  %th &nbsp;
  #taskrows
    =render :partial=>"story_task", :collection=>@story.tasks

  =link_to("Show All", stories_path)
  |
  =link_to("Edit", edit_story_path(@story))
  |
  =link_to("Delete", { :id => @story.id }, :confirm => "Are you sure?", :method => :delete)
%script
  new Control.Modal('tasklink', { opacity:0.6, fade:true, width:600, height:450});
