%tr[iteration, cycle('odd', 'even')]
  %td
    =link_to(h(iteration.title), iteration_path(iteration))
  %td.centered
    =iteration.start_date
  %td.centered
    =iteration.end_date
  %td.rctl
    =link_to("Show", iteration_path(iteration))
    =link_to("Edit", edit_iteration_path(iteration))
