- curClass = Iteration.current == iteration ? 'current' : cycle('odd', 'even')
%tr[iteration, curClass]
  %td
    =link_to(h(iteration.title), iteration_path(iteration))
  %td.centered
    =iteration.start_date
  %td.centered
    =iteration.end_date
  %td.right
    =iteration.total_points
  %td.right
    =iteration.stories.unswagged.count
  %td.rctl
    =link_to("Show", iteration_path(iteration))
    =link_to("Edit", edit_iteration_path(iteration))
