%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
=error_messages_for "iteration"
- form_for @iteration, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Story Form
    %label.first
      Title
      =f.text_field :title
    %label 
      Start Date 
      %div.date_field
        =f.calendar_date_select :start_date
    %label
      End Date
      %div.date_field
        =f.calendar_date_select :end_date
    %p
    =submit_tag "Save", {:class=> "submit_button"}
    =button_to_function "Cancel", "location.href='#{iterations_path}'", {:class=>'submit_button'}
