%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
=error_messages_for "iteration"
- form_for @iteration, :html=>{:id=>'columnarForm'} do |f|
  %fieldset
    %legend
      Iteration
    %ol.form
      %li
        =f.label :title, "Title", :class => "required"
        =f.text_field :title
      %li
        =f.label :start_date, "Start Date", :class => "required"
        %div.date_field
          =f.calendar_date_select :start_date
      %li
        =f.label :end_date, "End Date", :class => "required"
        %div.date_field
          =f.calendar_date_select :end_date
      %li
        =f.label :release_ids, "Releases", :class => "required"
        = f.collection_select :release_ids, Release.find(:all, :order=>'title asc'), :id, :title, {}, {:multiple=>true, :size=>5, :name=>'iteration[release_ids][]'}
  =submit_tag "Save", {:class=> "submit_button"}
  =button_to_function "Cancel", "location.href='#{iterations_path}'", {:class=>'submit_button'}
