%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
=will_paginate(@iterations)
%table#iterations
  =render :partial=>"iteration",:collection=>@iterations


=link_to "Create Iteration" , new_iteration_path
