%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
%h1
  =h(@iteration.title)
#chartright
  = ziya_chart chart_iteration_path(@iteration), :size=>"800x400"  if Iteration.count > 0
%p
  Start Date:
  =h @iteration.start_date
%p#sum
  Total swag: 
  =@iteration.total_points
%p
  End Date:
  =h @iteration.end_date

=link_to "Add New Story", "#storyform", :id=>'addStoryLink'

#storyform
  =render :partial=>'iterations/ajax_story',:locals=>{:story=>@iteration.stories.build(:title=>'New Story')}

%table#stories
  %caption Stories
  %th Title
  %th Swag
  %th State
  %th &nbsp;
  =render :partial=>"stories/story", :collection=>@iteration.stories

#sum
  =link_to("Show All", iterations_path)
  |
  =link_to("Edit", edit_iteration_path(@iteration))
  |
  =link_to("Delete", { :id => @iteration.id }, :confirm => "Are you sure?", :method => :delete)

%script
  new Control.Modal('addStoryLink', { opacity:0.6, fade:true, width:600, height:450});
