%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
  
#iterInfo
  .overview
    %table
      %tr
        %th{:colspan=>2}
          =h(@iteration.title)
   
      %tr
        %td
          Start Date:
        %td  
          =h @iteration.start_date
      %tr
        %td
          End Date:
        %td  
          =h @iteration.end_date
      %tr
        %td
          Total swag: 
        %td#sum
          =@iteration.total_points
      %tr
        %td
          Earned Velocity:
        %td  
          =@iteration.completed_points
      %tr
        %td Points in QC:
        %td=@iteration.points_in_qc
      %tr
        %td In Progress:
        %td=@iteration.in_progress_points
      %tr
        %td Points Ready for Development:
        %td=@iteration.ready_points
      %tr
        %td
          Unswagged Items:
        %td  
          =@iteration.stories.unswagged.count + @iteration.bugs.unswagged.count
      %tr
        %td
          ="Assigned to %s:"%pluralize(@iteration.releases.size, 'release')
        %td  
          =@iteration.releases.map{|x| link_to(h(x.title), release_path(x))}.join(', ')
  #chart
    = ziya_chart chart_iteration_path(@iteration), :size=>"700x300", :swf_path=>root_path+'charts' if Iteration.count > 0
%br{:style=>"clear:both"}
%table#stories.sortable
  %caption Stories
  =render :partial=>'stories/story_header'
  =render_search_results('stories/story', @iteration.stories)
%table#bugs
  %caption Bugs
  =render :partial=>'bugs/bug_headers'
  =render_search_results('bugs/bug', @iteration.bugs)

%div
  #storyform
    =render :partial=>'iterations/ajax_story',:locals=>{:story=>Story.new(:title=>'New Story', :iteration_id=>@iteration_id)}
  =link_to "Add New Story", "#storyform", :id=>'addStoryLink'
  |
  =link_to("Show All", iterations_path)
  |
  =link_to("Edit", edit_iteration_path(@iteration))
  |
  =link_to("Delete", { :id => @iteration.id }, :confirm => "Are you sure?", :method => :delete)
  =button_to("Reset Swag", reset_swags_iteration_path(@iteration), :method=>:put, :confirm=>'This will clear the swag on all unpassed stories in this iteration.  Are you sure?')
  =button_to("Promote Stories", promote_stories_iteration_path(@iteration), :method=>:put, :confirm=>'This will promote all unpassed stories to the next iteration.  Are you sure?')
%script{:type=>'text/javascript'}
  new Control.Modal('addStoryLink', { opacity:0.6, fade:true, width:600, height:450});

