%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
%h1
  =h(@iteration.title)
%p
  =h @iteration.start_date
%p
  =h @iteration.end_date
%table#stories
  =render :partial=>"stories/story", :collection=>@iteration.stories
#sum
  Total Swag:
  = @iteration.stories.inject(0){|x,y| x+(y.swag||0)}
%p
  =link_to("Show All", iterations_path)
  |
  =link_to("Edit", edit_iteration_path(@iteration))
  |
  =link_to("Delete", { :id => @iteration.id }, :confirm => "Are you sure?", :method => :delete)
