%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_iteration');
  element.className = 'current';
%h1
  =h(@iteration.title)
#chartright
  = ziya_chart chart_iteration_path(@iteration), :size=>"700x300", :swf_path=>root_path+'charts' if Iteration.count > 0
%h2
  Start Date:
  =h @iteration.start_date
%h2
  End Date:
  =h @iteration.end_date
%h3#sum
  Total swag: 
  =@iteration.total_points
%h3
  Earned Velocity:
  =@iteration.completed_points
%h3
  Open points
  =@iteration.open_points
%h3
  Unswagged stories:
  =@iteration.stories.unswagged.count
%h3
  ="Assigned to %s:"%pluralize(@iteration.releases.size, 'release')
  
  =@iteration.releases.map{|x| link_to(h(x.title), release_path(x))}.join(', ')

=link_to "Add New Story", "#storyform", :id=>'addStoryLink'

#storyform
  =render :partial=>'iterations/ajax_story',:locals=>{:story=>Story.new(:title=>'New Story', :iteration_id=>@iteration_id)}

%table#stories
  %caption Stories
  =render :partial=>'stories/story_header'
  =render :partial=>'stories/story', :collection=>@iteration.stories

#sum
  =link_to("Show All", iterations_path)
  |
  =link_to("Edit", edit_iteration_path(@iteration))
  |
  =link_to("Delete", { :id => @iteration.id }, :confirm => "Are you sure?", :method => :delete)
  |
  =button_to("Reset Swag", reset_swags_iteration_path(@iteration), :method=>:put, :confirm=>'This will clear the swag on all unpassed stories in this iteration.  Are you sure?')
%script{:type=>'text/javascript'}
  new Control.Modal('addStoryLink', { opacity:0.6, fade:true, width:600, height:450});


