%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_bug');
  element.className = 'current';
%h1 Bugs
=will_paginate @bugs
=link_to("Create Bug", new_bug_path)
|
=link_to "Advanced Bug Search", search_bugs_path
%table#bugs
  =render :partial=>'bug_headers'
  =render :partial=>"bug",:collection=>@bugs
