%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_bug');
  element.className = 'current';
%h1 Bugs
=will_paginate @bugs
=link_to("Create Bug", new_bug_path)
|
=link_to "Advanced Bug Search" , search_bugs_path

-if params[:q]
  %h2{:class => "margin_top_10"}
    ="Search Results for \"#{params[:q]}\""
%table#bugs.sortable
  =render :partial=>'bug_headers'
  =render_search_results('bug', @bugs)

=render :partial=>'shared/bugs_search'