%tr[release, cycle('odd', 'even')]
  %td
    =link_to(h(release.title), release_path(release))
  %td=iteration_link(release)
  %td.centered
    =release.start_date
  %td.centered
    =release.end_date
  %td.right
    =release.total_points
  %td.right
    =release.unswagged_story_bug_count
  %td.rctl
    =link_to("Show", release_path(release))
    =link_to("Edit", edit_release_path(release))
