%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_release');
  element.className = 'current';
%h1 Releases

=link_to "Create Release" , new_release_path
=will_paginate(@releases)
%table#releases
  %th Name
  %th Iterations
  %th.centered Start
  %th.centered End 
  %th &nbsp;

  =render :partial=>"release",:collection=>@releases
