#releases
  =render :partial=>'drop_release', :collection=>@releases
#iterations
  .drag_iteration{:style=>'z-index:-1'}
    hey!
  .title
    =h 'Free Iterations'
  =render :partial=>'drag_iteration', :collection=>@iterations
=drop_receiving_element 'iterations', :url=>releases_path
