%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_release');
  element.className = 'current';
%h1
  =h(@release.title)
= ziya_chart chart_release_path(@release), :size=>"700x300", :swf_path=>root_path+'charts' if Release.count > 0 and !@release.iterations.empty?

%h2
  Total days
  =@release.total_days
%h2
  Total swag
  =@release.total_points
%h2
  Remaining Scope
  =@release.open_points
%h2
  Total Story Count
  =@release.story_count
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
  Completed Story Count
  =@release.completed_story_count
=link_to "Plan Release" , planner_release_path(@release)

%table#iterations
  %caption Iterations
  %th Id
  %th Title
  %th &nbsp;
  =render :partial=>"iterations/iteration", :collection=>@release.iterations

#sum
  =link_to("Show All", releases_path)
  |
  =link_to("Edit", edit_release_path(@release))
  |
  =link_to("Delete", { :id => @release.id }, :confirm => "Are you sure?", :method => :delete)
