%script{:type=>'text/javascript'}
  var element = document.getElementById('menu_release');
  element.className = 'current';
%h1
  =h(@release.title)
= ziya_chart chart_release_path(@release), :size=>"700x300", :swf_path=>root_path+'charts' if Release.count > 0 and !@release.iterations.empty?

%table
  %tr
    %th{:colspan=>2}
      Overview
  %tr
    %td
      Total days
    %td
      =@release.total_days
  %tr
    %td
      Total swag
    %td
      =@release.total_points
  %tr
    %td
      Remaining Scope
    %td
      =@release.open_points
  %tr
    %td
      Total Story + Bug Count
    %td
      =@release.story_bug_count
  %tr
    %td
      Completed Story + Bug Count
    %td
      =@release.completed_story_bug_count
  %tr
    %td
      Unswagged Story + Bug Count
    %td
      =@release.unswagged_story_bug_count
  
=link_to "Plan Release" , planner_release_path(@release)

%table#iterations
  %caption Iterations
  =render :partial=>'iterations/header'
  =render :partial=>"iterations/iteration", :collection=>@release.iterations

#sum
  =link_to("Show All", releases_path)
  |
  =link_to("Edit", edit_release_path(@release))
  |
  =link_to("Delete", { :id => @release.id }, :confirm => "Are you sure?", :method => :delete)
