%ul#menu
  %li
    =link_to("Travis!", root_path,{:id=>"menu_travis"})
  %li
    =link_to("Releases", releases_path,{:id=>"menu_release"})
  %li
    =link_to("Iterations", iterations_path,{:id=>"menu_iteration"})
  %li
    =link_to("Stories", stories_path,{:id=>"menu_story"})
  %li
    =link_to("Tasks", tasks_path,{:id=>"menu_task"})
