!!! XML
!!!
%html
  %head
    %title
      Travis!
    =stylesheet_link_tag('reset','horz_menu','type','layout','forms', :cache => true)
  %body  
    #horiz-menu
      =render :partial=>"layouts/menu"
    #content
      =yield
