!!! XML
!!!
%html
  %head
    %title
      Travis!
    =stylesheet_link_tag('reset','horz_menu','type','forms', 'layout',  :cache => false)
    =javascript_include_tag :defaults, "control.modal"
    =calendar_date_select_includes "blue" 
    <link rel="shortcut icon" href="favicon.ico" />
  %body  
    #horiz-menu
      =render :partial=>"layouts/menu"
    #content
      =yield
#footer
  = link_to "Logout", session_path, :method=>'delete'
